guilhem.xyz {
	tls /etc/caddy/cert.pem /etc/caddy/key.pem
	encode zstd gzip
	templates
	file_server
	root * /var/www/
}

p2pchat.guilhem.xyz {
	tls /etc/caddy/cert.pem /etc/caddy/key.pem
	reverse_proxy p2p_chat:8088
}

redtetris.guilhem.xyz {
	tls /etc/caddy/cert.pem /etc/caddy/key.pem
	reverse_proxy red_tetris:8080
}

data.guilhem.xyz {
	tls /etc/caddy/cert.pem /etc/caddy/key.pem
	reverse_proxy netdata:19999
}

www.guilhem.xyz guilhem.sexy www.guilhem.sexy {
	tls /etc/caddy/cert.pem /etc/caddy/key.pem
	redir https://guilhem.xyz{uri}
}
